h1{
    text-align: center;
    color: aqua;
}
h3{
    text-align: center;
    color: red;
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
body{
    background-color: rgb(48, 17, 94);

}
