table{
    margin: 20px;
    border-radius: 12px;
}
th,td{
    border: 2px solid blue;
    box-shadow: 1px;
    text-align: center;
    padding: 15px 15px;
    border-radius: 12px;
    background-color: lightslategray;

}
body{
    display: flex;
    justify-content: center;
    text-align: center;
}