body{
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
}
h2{
    text-align: center;
    align-items: center;
    background-color: lightblue;
    border-radius: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.boton{
    width: 150px;
    height: 30px;
    background-color: lightblue;
}
.tiendas div {
    background:lightblue;
    border-radius: 12px;

}
input[type="number"]{
    background-color: lightblue;
    color: black;
}