    body {
            font-family: Arial, sans-serif;
            padding: 20px;
            background-color: lightslategrey;
        }

        label, input {
            display: block;
            margin: 10px 0;
        }

        input[type="submit"] {
            margin-top: 10px;
        }

        .resultado {
            margin-top: 15px;
            font-weight: bold;
        }