table {
    border-collapse: collapse; 
    margin: 20px auto;        
    width: 60%;                
    box-shadow: 0 4px 8px rgba(0,0,0,0.2); 
}
th {
    background-color: #54c657;
    color: white;              
    padding: 12px;
    font-size: 1.2em;
    border: 1px solid #333;
}


td {
    background-color: #f9f9f9; 
    padding: 12px;
    text-align: center;
    font-size: 1.1em;
    border: 1px solid #333;
}
